<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalfinaltest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalfinalTest">
        <activity android:name=".EditDiaryActivity" />
        <activity android:name=".RecordActivity" />
        <activity
            android:name=".PlayActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".StartWorkOutActivity" />
        <activity android:name=".InputWorkOutActivity" />
        <activity android:name=".EditWorkActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Pop"/>
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>